.log-table{
  width: 100%;
  table-layout: fixed;
  border: 1px solid;
}

.log-scrollable{
  overflow-y: auto;
  height: 400px;
  margin: 1.5rem;
}

.log-scrollable::-webkit-scrollbar {
  display: none;
}

.log-table-head{
  background-color: #1f1f1f;
  color: white;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  height: 4rem;
  position: sticky;
  top: 0;
  text-align: center;
  border: 1px solid;
}