.log-item{
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.log-table-row{
  background-color: #444;
  color: white;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  height: 4rem;
}

.log-table-cell{
  text-align: center;
  border: 1px solid;
}